<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view>
<ion-content ng-controller="StationCtrl" scroll="true">
<div id="spotlight">
  <button id ="play" class="button" ng-click="playStation()" ng-hide="playing"></button>
  <button id="pause" class="button" ng-click="pauseStation()" ng-show="playing"></button>
  <p>http://www.inci.gov.co/</p>
</div>
<div id="redsocial">
<button id="tw"class="button ion-social-twitter-outline" ng-click="twitter()"><p id="o">twitter</p></button>
<button id="sk"class="button ion-social-skype-outline" ><p id="o">Skype</p></button>
</div>

</div>
<ion-list >

<div class="item item-divider">
 Programas anteriores  <i class="icon ion-ios7-keypad-outline"></i>
</div>
<label class="item item-input">
  <input type="text" placeholder="Filtrar">
</label>
<ion-item ng-repeat="program in programs" item="program" ng-click="playProgram(program.url)">
<p data-url="{{program.url}}">{{program.name}}</p>
</ion-item>
</ion-list>

</ion-content>
</ion-view>
