@font-face {
  font-family: "NexaLight";
  src: url("../fonts/NexaLight.otf");
  font-weight: normal;
  font-style: normal; }

html,body,header{
  width: 320px;
}
  #spotlight{
    background: url(../img/spotlight.png) no-repeat center top;
    background-size: 100%;
    height: 290px;
    position: relative;
    width:320px;
  }
  #play{
    background:  url(../img/play.png) no-repeat center top;
    background-size: 60px;
    background-color: transparent;
    border:none;
    position: absolute;
    left: 40px;
    bottom: 60px;
  }
  #pause{
   background:  url(../img/pause.png) no-repeat center top;
    background-size: 60px;
    background-color: transparent;
    border:none;
    position: absolute;
    left: 40px;
    bottom: 60px;
  }
  #o{
    display: none;
  }
  #spotlight p{
    font-family: "NexaLight";
  font-size: 15px;
    color:white;
    position: absolute;
    left: 95px;
    bottom: 57px;
  }
  #redsocial{
    background-color: #f7f5f5;
  }

 .item-divider{
  background-color: #f7f5f5;
min-height: 60px;
padding-top:20px  ;
padding-bottom:20px  ;
font-size: 17px;
font-family: "NexaLight";
color:#f1339d;
  }
.item-content p {
  font-family:"Open Sans", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
.item-complex.active .item-content {
  background-color: #493344;
    color:#e6e2e2;
    margin-bottom: 0;
   

  }
  .item-complex.active .item-content p{
     color:#fff;

  }
  .item-complex .item-content {
  background-color: #372031;
  border-color:none!important;
    color:#e6e2e2;

  }
  #tw{
    background-color: transparent;
    border:none;
    font-size: 40px;
    margin:5px auto;
  }
    #sk{
    background-color: transparent;
    border:none;
    font-size: 40px;
    margin:5px auto;
  }


  .pane{
    
    width: 320px;
  }
.bar{
  height: 70px;
  width: 320px;
}
.bar.bar-light .title{
  color:#eb7d15;
  font-family: "NexaLight";
  font-size: 32px;
  top:17px;
  width: 320px;
}

.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}
